.main {
  width: 600px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal; 
  overflow: hidden;
}

.asterisk {
  color: red;
}

.boxes {
  font-size: 14px;
  background-color: #f5f4f2;
  border-radius: 3px;
  border-color: silver;
  border-width: 1px;
}

#container {
  overflow: hidden;
}

#logo-container {
  float: left;
  width: 50%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#logo {
  width: 600px;
  height: 600px;
}

#title {
  padding-bottom: 50px;
  text-align: center;
  font-size: 50px;
}

#name {
  text-align: left;
}

#first_name, #last_name {
  margin-right: 5px;
  padding: 10px;
}

#email {
  margin-right: 5px;
  padding: 10px;
  width: 380px;
}

#message {
  margin-right: 5px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 150px;
  width: 585px;
}

#submit {
  margin-top: 30px;
  width: 80px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}